/* You can add global styles to this file, and also import other style files */

html,
body{
    height: 100%; 
}
body{
    margin: 0;
}

.toast {
    opacity: 1 !important;
}

.color_gray{
    background-color: rgb(41, 41, 41);
}