.center{
    width: 80%;
    margin: 20px auto;
}


.btn{
    margin-right: 10px;
    width: auto
}

.btn_color{
    background-color: gray;
    color: #fff;
}

.btn_agregar_color{
    background-color: rgb(38, 77, 185);
    color: #fff;
}

.btn_importar_color{
    background-color: rgb(100, 100, 100);
    color: #fff;
}
.btn_eliminar_color{
    background-color: rgb(165, 0, 0);
    color: #fff;
}