<h1 mat-dialog-title>Bienvenido</h1>
<div mat-dialog-content >
    <form [formGroup]="form" >
        <label formArrayName="orders" *ngFor="let order of form.controls.orders.controls; let i = index">
            <mat-form-field>
                <div *ngIf="!undefinedValue; else sinTexto">
                    <!-- <div *ngIf="orders[i].st == 'date' || orders[i].st =='birthDate' ; else sinFecha"> -->
                    <input matInput type="text" [formControlName]="i" [placeholder]="orders[i].name" [(ngModel)]="orders[i].valor"  required>
                    <!-- </div> -->
                    
                </div>
                          
                <ng-template #sinTexto>
                    <input matInput type="text" [formControlName]="i" [placeholder]="orders[i].name"  required>
                </ng-template>

                <ng-template #sinFecha>
                    <input matInput type="text" [formControlName]="i" [placeholder]="orders[i].name" [(ngModel)]="orders[i].valor"  required>
                        
                </ng-template>
           
            </mat-form-field>
        </label>
        <h1 mat-dialog-title color="accent">{{inputVar}}</h1>
    </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="submit()"  cdkFocusInitial>Aceptar</button>
</div> 
  